/* Open Sans Font from Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-[black] font-['Cairo',sans-serif];
  font-family: "Cairo", sans-serif;
}

body.no-scroll {
  @apply overflow-hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #244441;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

h4 {
  @apply text-xl font-bold;
}

.light-button {
  @apply border border-background bg-background text-black duration-150 hover:bg-black hover:text-background;
}
.dark-button {
  @apply border border-background bg-black text-background duration-150 hover:bg-background hover:text-black;
}

.grid-cards-cols {
  @apply grid md:grid-cols-2 lg:grid-cols-3;
}

.gradient-text {
  @apply bg-gradient-to-l from-[#999999] to-[#ffffff] bg-clip-text text-transparent ltr:bg-gradient-to-r;
}
